:root{
    --peach: #ffdbf8;
    --merah: #cc0003;
    --putih: #ffffff;
    --hitam: #000000;
    --cyan: #45f7ee;
    --littlePink: #ffd0fb;
    --morePink: #fa0cf0;
    --pinkAgain: #fc26eb;
    --brown: #2d191e;
    --blueLittleblack: #1b2f38;
    --hijauKehitaman: #223323;
    --unguGelap: #2e1f39;
    --pinkv2: #aa00a4;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: var(--putih);
}

body{
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, rgba(3, 255, 230 ,1), rgba(12, 5, 235));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--hitam);
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--putih);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: var(--hitam);
}

.theme-toggler.active::before{
    background-color: var(--putih);
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--hitam);
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.1);
}

/* Light Theme */
.calculator{
    background-color: var(--putih);
}

.calculator #display{
    color: #1c1b1a;
}

.calculator button#clear{
    background-color: var(--peach);
    color: var(--merah);
}

.calculator button.btn-number{
    background-color: var(--cyan);
    color: var(--hitam);
}

.calculator button.btn-operator{
    background-color: var(--littlePink);
    color: var(--morePink);
}

.calculator button.btn-equals{
    background-color: var(--pinkAgain);
    color: var(--hitam);
}

/* Dark Theme */

.calculator.dark{
    background-color: var(--hitam);
}

.calculator.dark #display{
    color: var(--putih);
}

.calculator.dark button#clear{
    background-color: var(--brown);
    color: var(--merah);
}

.calculator.dark button.btn-number{
    background-color: var(--blueLittleblack);
    color: var(--putih);
}

.calculator.dark button.btn-operator{
    background-color: var(--unguGelap);
    color: var(--pinkv2);
}

.calculator.dark button.btn-equals{
    background-color: var(--hijauKehitaman);
    color: var(--putih);
}